<%- include('../partials/header.ejs') %>

<main class="page-500">
    <h1>500</h1>
    <p>Le café est prêt, mais le serveur a eu un petit souci...</p>
    <div class="actions">
        <a class="button" href="/">Retour à l'accueil</a>
        <a class="button" href="/catalogue">Explorer le catalogue</a>
    </div>
</main>

<%- include('../partials/footer.ejs') %>