<footer>
    <div class="coffee-quote"></div>
    <div class="copyright">
        <span>O'Coffee a été fait avec beaucoup de &#9749;</span>
        <span>Copyright &copy; 2024 O'Coffee by Firoweb</span>
    </div>

</footer>

</body>
</html>